.all-item-container {
    border: 2px solid darkslateblue;
    border-radius: 10px;
    padding: 10px;
    background-color: #abd2fc;
}

.item-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-start;
    width: 400px;   
}

.item-index {
    font-size: 24px;
    margin-right: 10px;
    text-align: left;
}

.item-image {
    width: 125px;
    height: 125px;
    object-fit: cover;
    margin-right: 10px
}

.item-name {
    font-size: 30px;
    text-align: left;
    width: 200px;
}